<%= stylesheet_link_tag 'login', media: 'all' %>

<div class="container">
  <div class="container-main">
    
    <%= form_with url: login_path, class: "form-group" do %>
      <h1>Login</h1>
      <div>
        <%= label_tag :email, "Email: ", class: "form-label" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter your email" %>
      </div>
      <div>
        <%= label_tag :password, "Password: ", class: "form-label" %>
        <%= password_field_tag :password, nil, class: "form-control", placeholder: "Enter your password" %>
      </div>
      <div class="div-btn">
        <%= submit_tag 'Login', class: "btn btn-primary" %>
      </div>
      <div class="div-btn">
        <%= link_to "Create Account", new_user_path , class: "btn btn btn-primary" %>
      </div>
  </div>
</div>

<% end %>

